.wrapper {
  text-align: center;
  p {
    margin-bottom: 1.5rem;
  }
/*  .title {
    h1 {
      font-size: 230px;
      background: url(../../Public/images/bg_404.jpg) center center no-repeat;
      background-size: cover;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing: -.25rem;
      @media (max-width: 991px) {
        font-size: 25vw;
      }
      @media (max-width: 575px) {
        font-size: 30vw;
      }
    }
  }*/
}
