/* heading */
h1,
.mainHeading {
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 1.25;
  font-family: "Lato", sans-serif;
  color: $headings-color;
  margin-bottom: 1rem;
}
h2,
.subHeading {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.25;
  color: $headings-color;
  margin-bottom: .75rem;
}
h3 {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.25;
  color: $headings-color;
  margin-bottom: .5rem;
}
h4 {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.25;
  color: $headings-color;
  margin-bottom: .5rem;
}
h5 {
  font-weight: bold;
  font-size: .875rem;
  line-height: 1.25;
  color: $headings-color;
  margin-bottom: .5rem;
}

.small, small {
  font-size: 80%;
  font-weight: 400;
}
